.skills {
    position: relative;
}

.skills_container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}



.certificates {
    margin-top: 20px;
}

.certificates_container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

